*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #1F2937;
    flex-flow: column wrap;
    padding: 16px;
    color: #f9faf7;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.logo{
    font-size: 30px;
    font-weight: 900;
    color: #000000a2;
}
nav ul{
    list-style: none;
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
}
nav li{
    font-size: 17px;
    padding: 5px;
    border: solid 1px rgb(255, 0, 0)0000;
}
nav li a{
    text-decoration: none;
    color: #cfcfcf;
}
.headerBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.title{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 2%;
    height: 300px;
}
.title h1{
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
}

/* *MAIN STYLE */

main{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 16px;
}

.marineAnimals{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    border: solid 1px red;
}

.marineAnimals h2{
    text-align: center;
}
.Animals{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* width: 100%; */
    /* box-sizing: border-box; */
}
.animal{
    height: 450px;
    width: 300px;
    border: solid 1px red;
}
